<!DOCTYPE html>
<html>
<head>


  <title><%= title %></title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="/stylesheets/bootstrap/js/jquery.js"></script>

  <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery-latest.js"></script>

  <script src="/javascripts/html5shiv.js"></script>
  <script src="/javascripts/respond.min.js"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/FirstPageStyle.css' />
  <link rel='stylesheet' href='/stylesheets/SocialButtons/reset.css' />
  <link rel='stylesheet' href='/stylesheets/SocialButtons/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">



  <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/stylesheets/bootstrap/css/modern-business.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/stylesheets/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>

  <![endif]-->
  <!-- <div id="fixedheader">
     <img src="/images/logo.jpg" alt="logo" height="5%" width="5%"/>
     <h1>Panoramic Tourism</h1>
   </div>-->

</head>


<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li class="active">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Panoramic Tourism</a>
      </li>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="about.html"> <span class="glyphicon glyphicon-tasks"></span> About</a>
        </li>
        <li>
          <a href="services.html"> <span class="glyphicon glyphicon-phone-alt"></span> Contacts</a>
        </li>
        <li>
          <a href="contact.html"> <span class="glyphicon glyphicon-briefcase"></span> Services</a>
        </li>
        <% var User= req.session.user;
          if(User==null){
        %>
        <li><a href="/Sign_UP"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% } else{%>
        <li>
          <a><%= User.FullName %>
          <span class="span-logo">
                  <img src="<%=User.ImagePath%>" height="20%" width="20/5" />
                           </span>


          </a>

        </li>
        <%}%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="full-width.html">Full Width Page</a>
            </li>
            <li>
              <a href="sidebar.html">Sidebar Page</a>
            </li>
            <li>
              <a href="faq.html">FAQ</a>
            </li>
            <li>
              <a href="404.html">404</a>
            </li>
            <li>
              <a href="pricing.html" >Pricing Table</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<div class="MySlider">

 <!--  <script type="text/javascript" src="/javascripts/three.min.js"></script>

   <script type="text/javascript" src="/javascripts/PanoramaViewer.js"></script>-->

</div>


<!-- middle Navbar ============================================================================================================-->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>    Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp; Countries <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%var countires= req.session.countries;
            for(var i=0;i<countires.length;i++){
              if(i==5){
                break;
              }
            %>
            <li>
              <a href="/View_Panoramic_Scene" name="<%=countires[i].CountryName%>"><%=countires[i].CountryName%></a>
            </li>
            <%}%>
            </li>
            <li>
              <a href="/ViewCountries">View More ...</a>
            </li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp; Cities <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%var Cities= req.session.Cities;
        for(var i=0;i<Cities.length;i++){
          if(i==5){
            break;
          }
        %>
            <li>
              <a href="/View_Panoramic_Scene" name="<%=Cities[i].Name%>"><%=Cities[i].Name%></a>
            </li>
            <%}%>
            </li>
            <li>
              <a href="/ViewCities">View More ...</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp; Museums <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%var museums= req.session.museums;
        for(var i=0;i<museums.length;i++){
          if(i==4){
            break;
          }
        %>
            <li>
              <a href="/View_Panoramic_Scene" name="<%=museums[i].Name%>"><%=museums[i].Name%></a>
            </li>
            <%}%>
            </li>
            <li>
              <a href="/ViewMuseums">View More ...</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp; Buildings <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%var buildings= req.session.buildings;
        for(var i=0;i<buildings.length;i++){
          if(i==5){
            break;
          }
        %>
            <li>
              <a href="/View_Panoramic_Scene" name="<%=buildings[i].Name%>"><%=buildings[i].Name%></a>
            </li>
            <%}%>
            </li>
            <li>
              <a href="/ViewBuildings">View More ...</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp; Others <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%var other= req.session.other;
        for(var i=0;i<other.length;i++){
          if(i==5){
            break;
          }
        %>
            <li>
              <a href="/View_Panoramic_Scene" name="<%=other[i].Name%>"><%=other[i].Name%></a>
            </li>
            <%}%>
            </li>
            <li>
              <a href="/ViewOthers">View More ...</a>
            </li>
          </ul>
        </li>
           <li>
          <a href="/Upload_Panoramic_View"> <span class="glyphicon glyphicon-upload"></span> Upload Panorama</a>
        </li>
      </ul>


    </div>
  </div>
</nav>
<!-- Page Content ===========================================================================================================-->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to Panoramic Tourism
        <small style="font-family:'Courier New'">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            KEEP YOUR HANDS ON THE HORIZON</small>
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>Virtual Tour</h4>
        </div>
        <div class="panel-body">
          <p> Have ever visit paris , china , new york or even maldives before ? ,Even if you visit them before, you are welcome with us to enjoy
            a home virtual tour to any place you have been dream to visit before , put your seat built and enjoy. </p>
          <a href="/About" class="btn btn-default">Learn More about us</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i> Free </h4>
        </div>
        <div class="panel-body">
          <p>All you need to use our web site is to <a href="https://msdn.microsoft.com/en-us/library/hh438998.aspx">Have a Microdoft Kinect Sensor</a>
            <a href="http://www.microsoftstore.com/store/msusa/en_US/pdp/Kinect-Adapter-for-Windows/productID.308803600">&amp; Kinect Adapter for Windows</a>
             plug into your Computer and to <a href="https://www.microsoft.com/en-us/download/details.aspx?id=44561">download SDK</a> and install and run it.
            <br>Finally!!  you can enjoy different experience</p>
          <a href="https://en.wikipedia.org/wiki/Kinect" class="btn btn-default">Learn More about Kinect</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
        </div>
        <div class="panel-body">
          <p>By using this website you can upload your own experiences and memories and share them with travelers photographers and even with your friends
          <br> you must first <a href="/Sign_UP">Sign up  </a> to be able to upload images or to <a href="/Login">Login </a>
          if you have already create a profile.</p>
          <a href="/About" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Microsoft Kinect v2</h2>
    </div>
    <div class="col-md-6 ">
      <a href="https://msdn.microsoft.com/en-us/library/hh438998.aspx">
        <img class="img-responsive img-portfolio img-hover" src="/images/kinectv2Sensor.jpg" alt="">
      </a>
    </div>
    <div class="col-md-6">

      <li><strong>Improved body tracking </strong>
      </li>
      <li><strong>Depth sensing:
        </strong>
      <ul>
      <li>
       &nbsp;&nbsp;&nbsp;&nbsp;  512 x 424
      </li>
      <li>
        &nbsp;&nbsp;&nbsp;&nbsp;  30 Hz
      </li>
      <li>
        &nbsp;&nbsp;&nbsp;&nbsp; FOV: 70 x 60<br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        One mode: .5–4.5 meters
      </li>
        </ul>
      </li>

        <li><strong>1080p color camera
            30 Hz (15 Hz in low light)</strong></li>
        <li><strong>New active infrared (IR) capabilities
            512 x 424
            30 Hz</strong></li>
        <li><strong>Wider/expanded field of view</strong></li>

      </ul>
      <br>
      <br>
      <a href="https://dev.windows.com/en-us/kinect/hardware" class="btn btn-default">Learn More</a>
    </div>

  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Panoramic Tourism Features</h2>
    </div>
    <div class="col-md-6">
      <ul>

        <li>By using this website you can : </li>
        <li>View different places virtually.</li>
        <li>uploading a new panoramic views</li>
        <li>discover new places </li>
      </ul>
      <p>A very powerful virtual map for the passengers .</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="/images/Kinect-Adapter-for-Windows-620x363.png" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>If you are facing any problem using the website , installing KINECT or viewing the image with kinect , Please Call us !</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>&nbsp;&nbsp; Copyright &copy; Panoramic Tourism 2016</p>
        <ul class="social-icons">
          <li class="icon icon--facebook">
            <a href="http://facebook.com/suhila.1111">
              <span class="icon__name">Facebook</span>
            </a>
          </li>
          <li class="icon icon--twitter">
            <a href="https://twitter.com/Suhila_Ahmed">
              <span class="icon__name">Twitter</span>
            </a>
          </li>
          <li class="icon icon--linkedin">
            <a href="#">
              <span class="icon__name">LinkedIn</span>
            </a>
          </li>
          <li class="icon icon--instagram">
            <a href="#">
              <span class="icon__name">Instagram</span>
            </a>
          </li>
          <li class="icon icon--flickr">
            <a href="#">
              <span class="icon__name">Flickr</span>
            </a>
          </li>
          <li class="icon icon--googleplus">
            <a href="https://google.com/+SuhilaAhmed">
              <span class="icon__name">GooglePlus</span>
            </a>
          </li>
          <li class="icon icon--soundcloud">
            <a href="#">
              <span class="icon__name">Soundcloud</span>
            </a>
          </li>
          <li class="icon icon--github">
            <a href="#">
              <span class="icon__name">GitHub</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </footer>

</div>



<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
</script>
</body>


</html>
